body {
  margin: 0;
  color: white;
  font-family: serif;
  background-image: url(/photosexe/1297452.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.header, .intro, .image-section, .links-section {
  text-align: center;
  margin: 20px auto;
  width: 80%;
}
.header h1 {
  font-size: xxx-large;
  background-color: #9a39f5;
  padding: 10px;
  border-radius: 20px;
  color: white;
  border: 2px solid black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.intro p {
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #9a39f5;
}
.image-section img {
  width: 200px;
  box-sizing: 20px 20px 20px black;
  padding: 20px;
  background-color: #9a39f5;
  border-radius: 50px;
  margin: 30px auto;
  }
.links-section ul {
    list-style: none;
    padding: 0;
  }
.links-section ul li {
  margin: 10px 0;
  }
.links-section ul li a {
  color: #9a39f5;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #9a39f5;
  }
.links-section ul li a:hover {
  background-color: #9a39f5;
  color: black;
  }  
  @media (max-width: 768px) {
    .header, .intro, .image-section, .links-section {
      width: 100%;
    }
    body {
      flex-direction: column;
    }
  } 