.colgate {
  width: 200px;
  box-shadow: 20px 20px 20px black;
  padding: 20px 10px 30px 40px;
  background-color: blueviolet;
  margin: 30px 10px 30px 40px;
  border-radius: 50px;
}
body {
background-image: url(/photosexe/artwork-teenage-mutant-ninja-turtles-wallpaper-preview.jpg);
background-repeat: no-repeat;
background-size: cover;
}
body * {background-color: white;}