div{
margin: 10px;
min-width: 100px;
min-height: 100px;
}
#box1{
    display: grid;
    grid-template:
    'box2 box2 box3' 
    'box5 box4 box4';
    background: red;
}
#box2{
    grid-area: box2;
    background: black;
}
#box3{
    grid-area: box3;
    background: blue;
}
#box4{
    grid-area: box4;
    background: cyan;
}
#box5{
    grid-area: box5;
    background: blueviolet;
}